tmp/
data_csvs/
.vs/
Drivers/
geckodriver.log
tvDatafeed/__pycache__
/tvDatafeed/__pycache__/main.cpython-311.pyc
/tvDatafeed/__pycache__/__init__.cpython-311.pyc
/__pycache__/discordManager.cpython-311.pyc
/__pycache__/Screen.cpython-311.pyc
/__pycache__/Daily.cpython-311.pyc
/__pycache__/Data.cpython-311.pyc
/__pycache__/Intraday.cpython-311.pyc
Test.py
Testt.py
/Daily3.py
/TT_data.csv
/TEST_data.csv
